body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  height: 8.5rem;
  width: 70rem;
}


header h1 p{
  position: absolute;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  margin: 0;
  text-align: center;
  font-size: 4rem;
  color: rgb(129, 138, 5);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.intro_animation{
  color:rgb(3, 238, 93);
  bottom: 3rem;
  transition-timing-function: ease-in;
}

.fade-in{
  opacity: 1;
}

#welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8px;
  min-height: 4rem;
  transition: all 1.7s linear; 
}

.welcome-dialog-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 8px;
  min-height: 8px;
  border: 4px solid green;
  background-color: rgb(163, 250, 163);
  border-radius: 1rem;
  transition: all 1s ease-in;
}

#welcome-container.open{
  min-height: 23.8rem;
}

.open{
  min-height: 22rem;
}

.narrator-content-target{
  opacity: 0;
  height: 0px;
  min-height: 0px;
  transition: all 1s ease-in;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.animate-narrator-text{
  opacity: 1;
  min-height: 18rem;
  color: green;
}

.game-container {
  width: 100vw;
  height: 400px;
  background-color: #dcdcdc;
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
}

.final-score-container{
  position: absolute;
  top: 4rem;
  left: 30vw;
  height: 12rem;
  width: 40vw;
  border: 4px solid green;
  border-radius: 1rem;
  background-color: rgb(163, 250, 163);
  color: #333;
  opacity: 0;
  transition: all 1s ease-out;
}

.fade-in{
  opacity: 1
}

.game-over-text{
  font-size: 1.5rem;
  text-align: center;
  opacity: inherit;
}

#character {
  position: absolute;
  bottom: 0px;
  left: 64px;
  height: 64px;
  width: 64px;
  background-image: url(../assets/images/character/cute_dino.jpg);
  background-size: contain;
}

.obstacle {
  width: 30px;
  height: 50px;
  background-color: hsl(60, 96%, 44%);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  background-color: #a01010;
  font-family: Arial, sans-serif;
  animation: moveObstacle 2s infinite linear;
}

@keyframes moveObstacle {
  from {
    right: -50px;
  }
  to {
    right: 100vw;
  }
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #333;
}

#controls-legend{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size:16px;
  padding: 1rem;
  color: #333;
  border: 4px solid green;
  border-radius: 1rem;
  background-color: rgb(163, 250, 163);
}
